<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>IPL</title>
	<!-- Favicon-->
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link href="css/initialbids.css" rel="stylesheet" type="text/css">
	<!-- Bootstrap Core Css -->
	<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<script src="/socket.io/socket.io.js"></script>
</head>
<body>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header alert-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rules and Regulations</h4>
      </div>
      <div class="modal-body">
				<p>1.No of Players:<br>
 			 Boys:​ 9x9 players on the field (Max 11 members per team - any 9 can bat, any 9 can bowl, any 9 can field).</br>
 			 Girls:​ 7x7 players on the field (Max 9 members per team - any 7 can bat, any 7 can bowl, any 7 can field).</p><br>
 			 <p>2.<strong>No LBW.</strong></p><br>
 			 <p>3. Wide = <strong>1</strong> run..</p><br>
 			 <p>4. <strong>1</strong> bounce is <strong>allowed</strong> per over.</b>.</p><br>
 			 <p>5. <strong>Chucking</strong> (illegal bowling) is <strong>not allowed</strong>.</p><br>
 			 <p>6. <strong>No ball = 1 run + free hit.</strong></p><br>
 			 <p>7. For a batsman, <strong>1st hit out of the campus</strong> (details will be specified before match starts) is a warning and <strong>2nd hit is OUT.</strong></p><br>
 			 <p>8.There is <strong>no warning in ​ no-ball but the warning is there in free hit ball.</strong>​</p><br>
 			 <p>9.<strong>Teams must be at ground 15 minutes before the match commences.</strong></p><br>
 			 <p>10. Any kind of <strong>abusive behaviour</strong> will result in the <strong>disqualification of players</strong></p><br>
 			 <p>11. A <strong>catch is valid</strong>if it’s caught without any contact with an obstacle such as <strong>trees, leaves etc.</strong></p><br>
 			 <p>12. A person can be part of only <strong>1 team.</strong> </p><br>
 			 <p>13.No runs for <strong>byes</strong> and <strong>leg byes. </p><br>
 			 <p>14. ​Overthrows are <strong>valid​ </strong>, i.e runs are there for overthrows and all the rules of overthrow will be applicable here. </p><br>
 			 <p>15. <strong>No spot registrations.</strong> </p><br>
 			 <p>16.If the bowler bowls from outside the return crease box, he will get a warning once after that the ball will be considered no-ball.</p><br>
 			 <p>17.​ In case of disputes or decision making, the <strong>organiser’s decision will be considered final.</strong></p><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<header>
	<img src="images/ACLlogo.png" class="img-fluid" alt="Cinque Terre" width=10vh height=auto hspace="20" >
	<br><br>
  <h1>Welcome to IPL !</h1>
  <div style="clear: left;"/>
  <svg xmlns="svg/2000/svg.html" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,100 100,0 100,100"/>
  </svg>
</header>

<section>
	<img src="<%= teamLogo %>" class="img-fluid" alt="Cinque Terre" width=23% height=auto  align="right" >
	<div class="input-box"><br><br>
	<h2 style="padding-left: 10%;"><b>Choose your initial bidding amount.</b></h2>
	<br>
	<select class="form-control show-tick" id="firstBid" required style="margin-left: 11%; width: 35.5%;border-color: #ff0000;border-width: 2px">
		<option value="">-- Please select --</option>
		<option value="140000">5000</option>
    </select>
	<br><br>
	<button name="btn" onclick="setRankAndRedirect(reDirect);disabled=true;" style="margin-left: 25%" id="xyz">Submit</button>
	</div>
</section>

<div class="legal">
				<div class="copyright">
					&copy; 2020
					<a href="javascript:void(0);">IIIT premier league</a>.
				</div>
				<div class="version">
					<b>Version: </b> 1.0.0
				</div>
				<div class="rules">
					<a  data-toggle="modal" href="#myModal" >Rules and Regulations</a>
				</div>
			</div>

<!-- Jquery Core Js -->
    <script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js"></script>

<!-- JQuery redirect plugin-->
    <script src="plugins/jquery-redirect/jquery.redirect.js"></script>

<!-- Custom Js -->
    <script src="js/admin.js"></script>
    <script src="js/pages/examples/sign-in.js"></script>
    <script src="js/pages/forms/basic-form-elements.js"></script>
    <script src="js/acl/render-ejs.js"></script>
    <script src="js/cookies.js"></script>
    <script src="plugins/sweetalert/dist/sweetalert.min.js"></script>

   <script type="text/javascript">
    	function setRankAndRedirect(callback){
			var firstBidVal = document.getElementById('firstBid').value;
			var teamID = parseInt(getCookie("teamToken"));
			var btn = document.getElementById('xyz');
			btn.style.backgroundColor = "#800000";
			if(firstBidVal == "") {
				swal('Oops...', 'Please select a valid amount!', 'error');
				return;
			}
			var socket = io();
			loginData = {"team_id": teamID, "initial_amount": firstBidVal};
			socket.emit('login', loginData);
			callback(teamID);

		}
		function reDirect(teamID) {
			setTimeout(function() {
					renderEjs('teamprofile', teamID);
			}, 1000);
		};
	</script>
	<script type="text/javascript">
		$(window).on('load', function(){
			$("#myModal").modal('show');
		});
	</script>
</body>
</html>
